@model  IEnumerable< IctWizard.Models.ProductPart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ReleaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ReleaseDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Product.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Product.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Product.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
